div{
  /* border: 1px solid black; */
}
body{
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Roboto;
}
.main-container{
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr;
  grid-template-areas: 
  "introduction-container introduction-container introduction-container"
  "adding-container books-list-container books-list-container"
  "adding-container books-list-container books-list-container";
  width: 100vw;
  height: 100vh;
  gap: 10px;
}
/* intro container */
.introduction-container{
  background-color: orange;
  grid-area: introduction-container;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.introduction-container img{
  width: 10rem;
  height: 10rem;
  margin-right: 30px;
}
.introduction-container h1{
  font-size: 5rem;
}

/* adding container */

.adding-container{
  background-color: #FF8D21;
  grid-area: adding-container;
  padding: 20px;
}
.add-form-container{
  display: flex;
  justify-content: center;
}
.add-form-container button{
  padding: 10px 50px;
  font-size: 2rem;
}


.books-list-container{
  background-color: #FFB76B;
  grid-area: books-list-container;
  display:flex;
  padding:50px;
  flex-wrap: wrap;
}
.card{
  height:200px;
  width: 300px;
  margin: 10px;
  padding:10px;
  border: 1px solid black;
  text-align: center;
  background-color: #FFCD90;
}
.card button{
  padding: 10px 20px;
}

dialog{
  width: 300px;
}
.modal-container{
  display: flex;
  flex-direction: column;
}


.exitButton{
  display: flex;
  flex-direction: column;
  align-items: end;
}

.exit{
  width: 20%;
}